name = "openbird"
main = "src/index.js"
compatibility_date = "2024-12-01"

routes = [
  { pattern = "{{OPENBIRD_DOMAIN}}", custom_domain = true }
]

vars = { ADMIN_EMAIL = "{{ADMIN_EMAIL}}", ADMIN_PASSWORD = "{{ADMIN_PASSWORD}}" }

[[kv_namespaces]]
binding = "USERS"
id = "{{USERS_KV_ID}}"

[[kv_namespaces]]
binding = "DOCS"
id = "{{DOCS_KV_ID}}"

[[r2_buckets]]
binding = "PAGES"
bucket_name = "openbird-pages"

[[r2_buckets]]
binding = "IMAGES"
bucket_name = "openbird-images"
